* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    text-decoration: none;
}

body {
    background-color: #1a1a1a;
    color: #fafafa;
}

.NavBar {
    padding: 0px 15px;
    background-color: #1a1a1a !important;
}

.navigation a i {
    color: #fafafa;
    transition: color 250ms ease;
    padding: 1px 15px;
}

.navigation a i:hover {
    color: #ffc107;
}

.navigation {
    width: 100%;
}

.options {
    width: 100%;
}

a.active i {
    color: #ffc107 !important;
}

.searchTop input,
#message-text,
#comment {
    background-color: #282828;
    color: #fafafa;
    border: none;
}

.searchTop input:focus,
#message-text:focus,
#comment:focus {
    background-color: #282828;
    box-shadow: none;
    color: #fafafa;
    /* border:1px solid #ffc107 !important; */
}

.searchTop input::placeholder,
#message-text::placeholder,
#comment::placeholder {
    color: #636363;
}

.logo-search {
    width: 100%;
}

.dropdown-menu li a {
    color: #fafafa;

}

.mainBody {
    height: 100vh;
    background-color: #1a1a1a;
    padding: 0px 24px;
}

.left,
.mid,
.right {
    background-color: #1a1a1a;
    border-radius: 15px;
}

.mid {
    width: 50%;
    margin: 0px 15px;
}

.right {
    height: 150vh;
    overflow-y: auto;
}

.right::-webkit-scrollbar {
    width: 10px;
    background-color: #3d3d3d;
}

.right::-webkit-scrollbar-thumb {
    background-color: #F90;
    background-image: -webkit-linear-gradient(45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent);
}

.left,
.right {
    width: 25%;
    /* padding: 0px 10px; */
    /* margin: 0px 15px; */
}

.profile {
    background-color: #282828 !important;
    color: #fafafa !important;
}

.profilePic {
    background-color: #1a1a1a;
    border-radius: 10px;
    border: 8px solid #1a1a1a;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.second {
    /* margin-top: 2rem !important; */
    color: #fafafa;
}

.line {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 2px;
    background-color: #1a1a1a;
}

.search {
    width: 70%;
}

/* 
.myProfileBtn{
    transition: background-color 200ms ease, border-color 200ms ease;
}
.myProfileBtn:hover{
    background-color: #1a1a1a !important;
    border-color: #1a1a1a !important;
} */

/* .mid{
    background-color: #ffc107;
} */

.postInputContainer {
    width: 100%;
    background-color: #282828;
    border-radius: 15px;
    padding: 15px 20px;
}

.image {
    width: 60px;
}

#postInput {
    background-color: #222;
}

.postBtn {
    color: #636363;
    width: 100%;
}

.btnOptions button {
    width: 120px;
}

.btnOptions button i {
    margin-right: 10px;
}

.postImage-video {
    width: 100%;

}

.editBtn {
    color: #fafafa;
}

.editBtn:hover {
    color: #1a1a1a;
}

.comment-container {
    width: 100% !important;
}

#post-text {
    word-wrap: break-word;
}


#comment {
    background-color: #222;
}

.imgBox {
    width: 100%;
}

#postImage {
    width: 100%;
}

#uploadDiv {
    width: 69%;
}

#updateDiv {
    width: 69%;
}

.card-body h5 {
    font-size: 1rem;
}

.card-body p {
    font-size: 0.7rem;
}

.usersPp {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imageContainer {
    width: 100%;
    height: 150px;
}

.cardStyle {
    width: 100% !important;
    background-color: #282828 !important;
    color: #fafafa !important;
}

/* -------Normal Screen------- */
@media(max-width: 1024px) {
    .profile {
        width: 100% !important;
        /* height: 70% !important; */
    }

    .left,
    .right {
        padding: 0;
    }

    .username,
    #followerCounter,
    #followingCounter {
        font-size: 1rem;
    }

    button {
        font-size: .8rem !important;
    }

    .btnOptions button {
        width: 100px;
    }

    .profile {
        height: 450px;
    }

    .imageContainer {
        height: 120px;
    }
}

/* -----------------Tablet------------------ */

@media(min-width: 501px) and (max-width: 768px) {
    .mainBody {
        padding: 0px !important;
    }

    .left,
    .right {
        display: none !important;
    }

    .mid {
        width: 80%;
    }

}


/* -------------SmartPhone------------------- */

@media(min-width: 320px) and (max-width: 500px) {
    .mainBody {
        padding: 0px !important;
    }

    .left,
    .right {
        display: none !important;
    }

    .mid {
        width: 100%;
    }

    .searchTop {
        display: none;
    }

    .btnOptions button {
        width: 70px;
        padding: 1px;
    }

    .navigation a i {
        padding: 0px 7px;
    }

    .NavBar {
        padding: 1px 2px;
    }

    .logo-search {
        display: none !important;
    }

    .postInputContainer {
        padding: 15px 8px;
    }
}